body {
    margin: 0;
    font-family: 'Montserrat';
    background: #1E1E1E;
}
.inner-body {
    margin-left: 100px;
    width: 1280px;
}
.container {
    padding-left: 151px;
    padding-right: 151px;
}
.navigation {
    padding-top: 24px;
    padding-bottom: 24px;
    width: 100%;
    
    background: #DCCBF7;
    border-bottom: 2px solid #8757D1;
}
.navigation-item {
    margin-right: 50px;
    font-style: normal; 
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
    color: #38215B;
    padding: 10px;
    box-sizing: content-box;
    border-radius: 10px;
    border: 2px solid #DCCBF7;
}
.navigation-item:hover {
    border: 2px solid #8757D1;
    border-radius: 10px;   
}



.main {
    position: relative;    
    background: url("/static/img/main/цветы\ курс\ 2.svg") no-repeat;
}    
.main_content {
    position: absolute;
    top: 116px;
    /* bottom: 213px; */
}
.main-title-part-1 {
    position: relative;
    display: inline-block;
    padding: 7px 14px 7px 14px;
    margin-bottom: 5px;
    border: 2px solid #8757D1;
    border-radius: 10px;  
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #38215B;
} 
.main-title-part-2 {
    position: relative;
    display: inline-block;
    display: block;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 500;
    font-size: 128px;
    line-height: 103.4%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #8757D1;
}
.main-title-part-3 {
    position: relative;
    font-family: 'Brush Script MT';
    font-style: italic;
    font-weight: 400;
    font-size: 96px;
    line-height: 103.4%;
    letter-spacing: 0.08em;
    color: #C29BDB;
    text-transform: uppercase;
    bottom: 70px;
    left: 450px;
}

.main-title-span {
    position: relative;
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 136.4%;
    letter-spacing: 0.06em;
    width: 400px;
    transform: translateY(-90px);
    font-family: 'Montserrat';
}
.main-title-button-to-application-form {
    position: relative;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #8757D1;
    border: 2px solid #8757D1;
    border-radius: 10px;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    margin-right: 20px;
    transform: translateY(-45px);
}
.main-title-button-to-program {
    position: relative;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #8757D1;
    border: 2px solid #8757D1;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    transform: translateY(-45px);
}




.cource-for {
    padding-top: 41px;
    padding-bottom: 71px;
    background-color: #8757D1;
    color: white;
    width: 100%;
}
.cource-for-title {
    text-align: center;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 237.9%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    padding-bottom: 20px;
}
.cource-for-item {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 162.4%;
    align-items: center;
    letter-spacing: 0.125em;
    width:50%;
}
.cource-for-item-top_left {
    border-bottom: 2px solid #FFFFFF;
    border-right: 2px solid #FFFFFF;
}
.cource-for-item-top_right {
    border-bottom: 2px solid #FFFFFF;
    border-left: 2px solid #FFFFFF;
}
.cource-for-item-top_left, .cource-for-item-top_right {
    padding-bottom: 50px;
}
.cource-for-item-bottom_left, .cource-for-item-bottom_right {
    padding-top: 30px;
}
.cource-for-item-bottom_left {
    border-top: 2px solid #FFFFFF;
    border-right: 2px solid #FFFFFF;
}
.cource-for-item-bottom_right {
    border-top: 2px solid #FFFFFF;
    border-left: 2px solid #FFFFFF;
}
.cource-for-item img {
    margin-left: 65px;
    vertical-align:middle; 
}
.cource-for-item p {
    margin-left: 30px;
    margin-right: 20px;
    display: inline-block;
    max-width: 270px;
    vertical-align:middle; 
}
.cource-for-content {
    margin-left: 106px;
    width: 1074px;
}




.application-form {
    padding: 34px 101px 67px 101px;
    background-color: #ffffff;
}
.application-form-title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 237.9%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: black;
    text-align: center;
    margin: 5px;
}
.application-form-input {
    background: #FFFFFF;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 26px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 210px;
    margin-right: 25px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 129.4%;
    letter-spacing: 0.08em;
}
.application-form-button {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 129.4%;
    letter-spacing: 0.08em;
    border: 2px solid #8757D1;
    background: #DCCBF7;
    border-radius: 10px;
    width: 250px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.application-form-button:hover {
    border: 2px solid #C29BDB;
    cursor: pointer;
}



.contacts {
    padding: 34px 101px 70px 101px;
    background: #784ABE;
    color: #FFFFFF;
}
.contacts-part-1 {
    font-family: 'Montserrat';
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 280px;
    vertical-align: top;
}
.contacts-part-2 {
    display: inline-block;
    width: 150px;
    border-left: 2px solid #FFFFFF;
    border-right: 2px solid #FFFFFF;
    padding-left: 92px;
    padding-right: 100px;
}
.contacts-part-2 p a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-decoration: none;
    color: #FFFFFF;
}
.contacts-part-2 p a:hover {
    color: #38215B;
}
.contacts-part-1 p, .contacts-part-2 p, .contacts-part-3 p {
    margin-top: 0;
}
.contacts-part-2-image {
    width: 18px;
    display: inline-block;
    margin-right: 16px;   
}
.contacts-part-3 {
    vertical-align: center;
    display: inline-block;
    width: 320px;
    text-align: right;
    padding-left: 120px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.025em;
}